body{
    
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;        
       padding: 10px;
       
}
.title{
    padding: 2px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', ;
    color: white;
    background-color: rgb(16, 18, 122);    
}
.names{
    font-size: 20px;
    font-weight: bold;    
    margin: 5px;
}

button{
    margin: 7px;
    font-weight: bold;
}

.transporte{
    position: absolute;
    z-index: 3;
}
.transp{
    margin-left: -715px;
    margin-top: 115px;
    width: 250px;
    display: none;
}


#cel{
    margin-top: -230px;
    margin-left: 900px;
    position: absolute;
    z-index: 2;
    overflow: hidden;   
}
.celular{
  height: 300px;
}

@keyframes blink {
    0% {
        background-color: red;
    }
    50% {
        background-color: transparent; /* Ou a cor de fundo original */
    }
    100% {
        background-color: red;
    }
}

.msg {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    position: absolute;
    margin-top: -205px;
    margin-left: 17px;
    animation: blink 1s infinite; /* Ajuste a duração da animação conforme necessário */
}
#cel2{
    margin-top: -230px;
    margin-left: -900px;
    position: absolute;
    z-index: 2;
    overflow: hidden;   
}
.msg2 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    position: absolute;
    margin-top: -225px;
    margin-left: 17px;
    animation: blink 1s infinite; /* Ajuste a duração da animação conforme necessário */
}
.celular{
  height: 350px;
}


#cidade{
    overflow: hidden;    
    position: absolute;
    z-index: 1;
   
    
}.city{
    width: 1500px;
    height: 300px;
}

.baseCont{
    overflow: hidden;
    width: 1500px;
    border: 2px solid red;
    padding: 5px;
    
}

.ocean{  
    width: 108%;
    
    transform: scaleX(-1);
}

.bloco{
    background-color: aqua;
    height: 200px;
    width: 1px;
}

.cesto{
    position: absolute;    
    width: 80px;
    z-index: 5;
}

.lixo{
    position: absolute;
    z-index: 5;    
    height: 100px;
    width: 70px;
}
#lixo{
    height: 100px;
    width: 80px;
    display: none;
}

.baseContainer{
    background-color: rgb(51, 8, 8);
    height: 300px;
    width: 400px;
}

.coletor{  
    position: absolute; 
    margin-left: 296px;
    overflow: hidden; 
    background-color: rgb(209, 61, 61);
    height: 300px;
    width: 100px;
}

#estrutura{
    display: flex;
    align-items: end;    
    width: 100%;
    
    margin-top: 200px;
}

#arroio{  
    position: absolute;
    bottom: 128px;      
    display: flex;
    flex-direction: column;
    margin-left: 298px ; 
    
}

#agua1{  
    width: 1200px;
    height: 100px;    
    background-color: white; 
   
}

#agua2{  
    width: 1200px;
    height: 100px;    
    background-color: white;
   
}

#agua3{   
    width:  1257px;
    height: 0px;  
     
}


